@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b9c4fd;
    color: rgb(0, 0, 0);
}

.box {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_2 {
    margin: 5rem;

}